* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  user-select: none;
  text-decoration: none;
}
.loader {
  position: fixed;
  top: -100%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100vh;
  background: #000;
  align-items: center;
  justify-content: center;
  z-index: 999999;
  transition: 0.4s linear;
}
.loader img {
  width: 100%;
  height: 100vh;

  object-fit: contain;
}
.loader.act {
  top: 50%;
  display: flex;
}
.container.act {
  filter: blur(50px);
}
.container {
  max-width: 1540px;
  width: 100%;
  height: 100vh;
  background-color: rgb(246, 246, 231);
}
.container.active {
  background-color: rgb(43, 56, 68);
  color: white;
}
.container.active .absolute {
  color: white;
}
.container.active .absolute2 {
  color: white;
}
.container.active input {
  background-color: rgb(54, 64, 72);
  color: white;
}
.container.active select {
  background-color: rgb(54, 64, 72);
  color: white;
}
.navbar {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 60px;
  padding-bottom: 50px;
  background-color: #ffffff;
  position: fixed;
  z-index: 2;
  box-shadow: 2px 5px 10px rgb(137, 137, 137);
}
.navbar h2 {
  font-size: 24px;
}
.navbar.active {
  background-color: rgb(43, 56, 68);
  color: white;
}
.navbar.active .label {
  background-color: rgba(13, 21, 33, 0.21);
  transform: scale(1.2);
}
.card {
  transition: background 0.2s linear;
}
.label {
  background-color: rgb(0, 42, 100);
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  border-radius: 50px;
  padding: 5px;
  width: 50px;
  height: 26px;
  margin-top: 17px;
  transform: scale(1.1);
}
.checkbox {
  opacity: 0;
  position: absolute;
}
.fa-moon,
.fa-sun {
  color: #f1c40f;
}
.ball {
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background-color: #fff;
  position: absolute;
  top: 2px;
  left: 2px;
  transition: transform 0.2s linear;
}
.checkbox:checked + .label .ball {
  transform: translateX(24px);
}
.search {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 20px;
  align-items: center;
  margin-bottom: 70px;
  padding-top: 120px;
  position: relative;
}
.search_country {
  position: relative;
}
.absolute,
.absolute2 {
  position: absolute;
  bottom: 15px;
  left: 19px;
  color: #000;
}
.search_capital {
  position: relative;
}
select {
  padding: 11px 80px;
  border-radius: 8px;
  font-size: 20px;
  outline: none;
  border: none;
}
input {
  padding: 15px 98px;
  margin-right: 40px;
  outline: none;
  border: none;
  border-radius: 8px;
  font-size: 16px;
}
.contires {
  padding: 20px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-bottom: 100px;
  gap: 40px;
  background-color: rgb(246, 246, 231);
  color: rgba(0, 0, 0, 0.721);
}
.contires.active {
  background-color: rgb(43, 56, 68);
  display: flex;
}
.contires.active .box {
  background-color: rgb(47, 53, 58);
  color: white;
}
.hidden {
  display: none;
}
.box {
  width: 320px;
  min-height: 400px;
  background-color: #ffffff;
  padding: 13px;
  transition: all 0.3s linear;
}
.box:hover {
  scale: 1.06;
  box-shadow: 5px 8px 20px rgb(137, 137, 137);
}
img {
  width: 294px;
  min-height: 190px;
  margin-bottom: 20px;
}
h1 {
  font-size: 24px;
  padding-top: 20px;
}
h2 {
  padding-top: 15px;
  font-size: 18px;
}
h3 {
  font-size: 19px;
  padding: 5px 0px;
}
h4 {
  font-size: 19px;
}
.hidden {
  display: none;
}
.fl {
  display: flex;
  align-items: center;
}
p {
  padding-top: 15px;
  font-size: 20px;
  margin-left: 12px;
  font-weight: 400;
}
span {
  font-size: 20px;
  margin-left: 40px;
  font-weight: 400;
}


.back{
  text-align: center;
  width: 120px;
  margin-left: 130px;
  padding: 12px 34px;
  margin-top: 90px;
  border-radius: 10px;
  margin-bottom: 20px;
  border: 1px solid white;
}
.countryModal{
  position: fixed;
  left: 0;
  top: 0;
  padding: 10px 0;
  width: 100%;
  height: 100%;
  background-color: rgb(58, 139, 139);
  color: white;
}
.leftModal img{
width: 550px;
height: 400px;
object-fit: contain;
}
.rightModal h4{
margin-left: 100px;
margin-top: 50px;
margin-bottom: 30px;
font-size: 35px;
}
.innerLeft p {
padding-top: 15px;
font-size: 20px;
margin-left: 12px;
font-weight: 400;
}
.fl-el{
display: flex;
justify-content: center;
gap: 80px;
flex-wrap: wrap;

}
.modal{
display: flex;
justify-content: center;
gap: 80px;
flex-wrap: wrap;
}
.hide{
display: block;
}
.show{
display: none;
}